.hotelcards {
  margin-top: 50px;
  margin-left: 11%;
}

.first {
  margin-top: 15px;
  /* background-color: yellow; */
  width: 330px;
  height: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first img {
  width: 320px;
  height: 180px;
}

.first h3 {
  font-size: 25px;
}
